:root {
  --main-color: #64a5f5;
  --secondary-color: #7fff00;
  --highlight-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: black;
}

.container {
  /* width: 100vw; */
  height: 100%;
}

._error {
  background-color: #fa4545;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 50%);
  position: fixed;
  top: 10px;
  left: 40vw;
  margin: 0 auto;
  padding: 20px;
  z-index: 1;
  font-weight: bold;
  color: white;
}

button:hover {
  box-shadow: inset 0px 0px 0px 40px rgba(0, 0, 0, 0.1);
}

/* Showcase Startpage Overlay*/
.showcase_overlay {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
}

.showcase_overlay img {
  width: 60%;
}

.showcase_overlay button, .order-summary button {
  width: 150px;
  height: 50px;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  border-style: none;
}

.showcase_overlay h3 {
  font-weight: normal;
  color: var(--highlight-color);
  font-size: 12px;
}

.spinner {
  margin: 1rem auto;
  text-align: center;
}

.spinner svg {
  height: 2rem;
  width: 2rem;
  fill: var(--secondary-color);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* end of startpage overlay */

/* Navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(201, 199, 199);
}

.logo {
  flex: 1;
}

.logo img {
  margin-left: 30px;
  height: 80px;
}

.nav-items {
  list-style-type: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.nav-items li {
  position: relative;
  padding-right: 40px;
  height: 60%;
}

.nav-items a img:hover {
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.4);
}

.nav-items a img {
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.nav-items a img.filter-blue {
  filter: invert(56%) sepia(86%) saturate(731%) hue-rotate(187deg)
    brightness(97%) contrast(99%);
}

.nav-items svg {
  position: absolute;
  bottom: 0px;
  right: 15px;
}

.nav-items img.clicked {
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.8);
}

/* Inner Container */

.main-container {
  /* height: 100%; */
  padding: 0 30px;
  color: rgba(0, 0, 0, 0.9);
}

/* Intro Block */

.intro {
  /* height: 200px; */
  width: 100%;
  padding: 50px 0;
}

.intro h1,
.intro h2 {
  margin: 0 auto;
  text-align: center;
}

/* Product Cards */

.products-area {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  min-width: 200px;
  flex-basis: 400px;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 3vh;
}

.product-card:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  cursor: grab;
}

.product-card img {
  width: 40%;
}

/* Modals */

#product-modal, #product-modal3, #product-modal4, .order-summary {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  top: 80px;
  left: 0;
  margin: auto;
  position: fixed;
  height: 85%;
  width: 100vw;
  overflow: scroll;
  padding: 1rem;
  border: none;
  visibility: hidden;
  transform: scale(0.1);
  transition: transform 300ms;
}

#product-modal3, #product-modal4, .order-summary /*Basket Favourite Meals Order Summary Modals*/ {
  width: 100%;
}

.order-summary {
  top: 0;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.order-summary > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order-summary > div > button {
  margin: 0 10px;
}

.order-summary .order-number {
  font-size: 4rem;
}

#product-modal.dialog-scale, #product-modal3.dialog-scale, #product-modal4.dialog-scale, .order-summary.dialog-scale {
  visibility: visible;
  transform: scale(1);
}

#product-modal::-webkit-scrollbar {
  width: 12px;
}

#product-modal::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

#product-modal::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 75%;
  height: 100%;
  /* overflow: scroll; */
}

.modal-container > h6, .modal-container > h2 {
  margin-right: 40px;
}
.modal-container.basket {
  width: 60%;
}

.modal-container.favourites {
  width: 100%;
}

.modal-container .close-icon-x {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: inherit;
}

.modal-container .close-icon-x:hover {
  box-shadow: none;
}

.close-icon-x img {
  width: 25px;
  height: 25px;
  transition: transform .2s, filter .2s;
}

.close-icon-x img:hover {
  transform: rotate(90deg);
  width: 28px;
  height: 28px;
  filter: invert(56%) sepia(86%) saturate(731%) hue-rotate(187deg)
    brightness(97%) contrast(99%);
}

.product-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.modal-container.basket .product-container{
  /* height: 50vh; */
  justify-content: flex-start;
}

.modal-container.favourites .product-container{
  /* height: 50vh; */
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.modal-container.favourites .product-container > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal-container.favourites .product-container > div {
  width: 100%;
  padding: 0 20px;
}

.modal-container.favourites .product-container .favourites-products {
  justify-content: flex-start;
}

.modal-container.favourites .product-container .favourites-products .product-line img {
  width: 50px;
}

.modal-container.basket .product-container img{
  width: 60%;
}

.product-container img {
  width: 100px;
}

.product-line {
  flex-basis: 50%; /* will need changing to 100% for media queries */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  font-size: 1rem;
}

.product-line img {
  justify-self: center;
  align-self: center;
}

.product-line span {
  font-size: 1.5rem;
}

.modal-container.basket .product-container .product-line {
  font-size: .8rem;
  flex-basis: 90%;
  height: 20%;
  grid-template-columns: 30% 50% 20%;
}

.modal-container.favourites .product-container .product-line {
  font-size: .8rem;
  flex-basis: 50%;
  /* height: 20%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: 50% 50%;
}

.modal-container.basket .product-container .product-line button {
  background-color: #fa4545;
  color: #fff;
  /* padding: 5px 10px; */
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 80%
}

/* Shopping Basket Product Line */
/* .product-modal3 .product-line, .product-modal4 .product-line {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  border: 1px solid black;
} */

.product-line img.remove_basket_icon,
img.add_basket_icon {
  width: 40px;
}

.product-line img.remove_basket_icon:hover,
img.add_basket_icon:hover {
  filter: invert(56%) sepia(86%) saturate(731%) hue-rotate(187deg)
      brightness(97%) contrast(99%);
}

.product-line div {
  margin: auto;
}

.product-line div:nth-of-type(1) {
  /* margin: auto 0; */
  text-align: center;
}

.quantity-counter {
  display: flex;
  align-items: center;
}

.quantity-counter img,
span {
  padding: 0 2px;
}

/* Modal Side-Bar */

.modal-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  background-color: white;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);;
  height: 100%;
}

.modal-side-bar.basket{
  width: 40%;
}

.modal-side-bar img {
  width: 75%;
}

.modal-side-bar img + img {
  width: 20%;
}

.basket-item-preview {
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  flex-wrap: wrap;
  width: 100%;
}
/* Basket Table Styling */
.basket-item-preview table {
  width: 75%;
  margin: 20px 0;
  padding: 10px 0;
  border-collapse: collapse;
}
.basket-item-preview tfoot {
  font-size: 1.5rem;
  width: 100%;
  background-color: lightgrey;
  border-top: .25px solid black;
}

.basket-item-preview th {
  text-align: left;
  padding: 5px;
}

.basket-item-preview td {
  text-align: right;
  padding: 5px;
}

.basket-item-preview > div {
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  margin-bottom: 5px;
  align-items: center;
  box-shadow: inset 2px 0px 0px 0px var(--main-color);
}

.basket-item-preview img {
  width: 25%;
}


#add-to-basket, #confirm-order {
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: white;
}

/* Dialogs General Styling*/

dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  border: .25px solid black;
  border-radius: 5px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
}

dialog button {
  font-weight: bold;
  width: 100px;
}

dialog button:hover {
  box-shadow: inset 0px 0px 0px 20px rgba(0, 0, 0, 0.1);
}

dialog .confirm-button {
  background-color: #64a5f5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

dialog button.cancel-button {
  background-color: lightgrey;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.meal-name  {
  display: none;
}

/* Favourites Modal */

.modal-container.favourites .product-container > div {
  width: 100%;
  padding: 10px 0;
  border-bottom: .5px solid rgba(0, 0, 0, 0.2);
  /* margin: 10px 0; */
}

.modal-container.favourites .product-container > div > div > div {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-auto-rows: minmax(50px, 75px);
  width: 100%;
}

.modal-container.favourites .product-container button {
  width: 100%;

}

.modal-container.favourites .product-container .favourites-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0 0 0;
}

/* Media Queries */

/* Tiny Width (phones, 350px and down) */
@media only screen and (max-width: 400px) {
/* Order Summary Modal */
  .order-summary > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }

  .order-summary > div > button {
    margin: 10px 0px;
  }

  #add-to-basket, #confirm-order {
    background-color: var(--main-color);
    padding: 0px;
    border-radius: 5px;
    border: none;
    color: white;
  }

  .modal-container.favourites .product-container .favourites-products {
    margin: 15px 0 0 0;
  }

  .product-line {
    flex-basis: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: auto;
}

/* Navigation */
  .logo img {
    margin-left: 0;
  }

  .nav-items li {
    position: relative;
    padding-right: 20px;
    height: 60%;
  }
  .nav-items {
    justify-content: flex-start;
  }
  .nav-items svg {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* Modals */

  #add-to-basket, #confirm-order {
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
  }

  .modal-container {
    width: 60%;
    align-items:flex-start;
  }

  .modal-container .close-icon-x {
    right: 5px;
    top: 5px;
  }

  .close-icon-x img:hover {
    transform: rotate(90deg);
    width: 22px;
    height: 22px;
    filter: invert(56%) sepia(86%) saturate(731%) hue-rotate(187deg)
      brightness(97%) contrast(99%);
  }

  .close-icon-x img {
    width: 20px;
    height: 20px;
    transition: transform .2s, filter .2s;
  }

  .product-container {
    font-size: .75rem;
  }

  .product-line {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }

  .modal-side-bar {
    width: 40%;
  }

  .modal-side-bar img + img {
    width: 50%;
  }

  .basket-item-preview {
    padding: 0;
  }

  .basket-item-preview table {
    width: 100%;
  }

  .basket-item-preview tfoot {
    font-size: 1rem;
    width: 100%;
    background-color: lightgrey;
    border-top: .25px solid black;
  }

  .modal-container.basket .product-container img {
    width: 100%;
  }

  .modal-container.basket .product-container .product-line {
    font-size: .8rem;
    flex-basis: 90%;
    height: 25%;
    grid-template-columns: 40% 60%;
  }

  .modal-container.basket .product-container .product-line button {
    padding: 5px 10px;
    width: 100%;
    height: 80%;
  }

  /* Order Summary Modal */
  .order-summary > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* Showcase Overlay */

  .showcase_overlay h3 {
    font-weight: normal;
    color: var(--highlight-color);
    font-size: 12px;
    width: 75%;
    text-align: center;
  }

  /* Favourites Modal */

  .modal-container.favourites .product-container > div {
    width: 100%;
    padding: 10px 0;
    border-bottom: .5px solid rgba(0, 0, 0, 0.2);
    /* margin: 10px 0; */
  }

  .modal-container.favourites .product-container > div > div > div {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-auto-rows: minmax(50px, 75px);
    width: 100%;
  }

  .modal-container.favourites .product-container button {
    width: 100%;

  }

  .modal-container.favourites .product-container .favourites-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 0px 0 0 0; */
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .modal-container.favourites .product-container .product-line {
    font-size: .8rem;
    flex-basis: 50%;
    /* height: 20%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 25% 25% 25% 25%;
  }
}

/*

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 875px) {
  .modal-container.favourites .product-container .product-line {
    font-size: .8rem;
    flex-basis: 25%;
    /* height: 20%; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66%;
  }

  .product-line {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  }
}

/*

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */

/* Media styling for print preview */

/* Remove buttons from print preveiew and add date and time and logo */

/* Height Adjusted Media Query */
@media only screen and (max-height: 600px) and (min-width: 600px) {
  .modal-container.basket .product-container .product-line {
    font-size: .8rem;
    flex-basis: 90%;
    height: 100px;
    grid-template-columns: 30% 50% 20%;
    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  .modal-container.basket .product-container img {
    width: 40%;
  }

  .modal-side-bar.basket{
    width: 40%;
    flex-wrap: wrap;
  }

  .modal-side-bar.basket > img, .modal-side-bar.basket > div {
    /* flex-basis: 25%; */
    width: 25%;
  } 
}

@media only screen and (max-height: 700px) and (max-width: 600px){
  .modal-container.basket .product-container .product-line {
    font-size: .8rem;
    flex-basis: 90%;
    height: 100px;
    grid-template-columns: 40% 60%;
    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  .modal-container.basket .product-container img {
    width: 60%;
  }
}