:root {
  --main-color: #64a5f5;
  --secondary-color: #7fff00;
  --highlight-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: black;
}

.container {
  width: fit-content;
}

/* Showcase Startpage Overlay*/
.showcase_overlay {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.showcase_overlay img {
  width: 60%;
}

.showcase_overlay button {
  width: 150px;
  height: 50px;
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
  border-style: none;
}

.showcase_overlay h3 {
  font-weight: normal;
  color: var(--highlight-color);
  font-size: 12px;
}

/* Media Queries to define size of logo based on screen size */

/* end of startpage overlay */

/* Outer Container */

.container {
  width: 100vw;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(201, 199, 199);
}

.logo {
  flex: 1;
}

.logo img {
  margin-left: 30px;
  height: 80px;
}

.nav-items {
  list-style-type: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.nav-items li {
  padding-right: 30px;
  height: 60%;
}

.nav-items a img {
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.nav-items a img.filter-blue {
  filter: invert(56%) sepia(86%) saturate(731%) hue-rotate(187deg)
    brightness(97%) contrast(99%);
}

/* Inner Container */

.main-container {
  /* height: 100%; */
  padding: 0 30px;
  color: rgba(0, 0, 0, 0.9);
}

/* Intro Block */

.intro {
  /* height: 200px; */
  width: 100%;
  padding: 50px 0;
}

.intro h1,
.intro h2 {
  margin: 0 auto;
  text-align: center;
}

/* Product Cards */

.products-area {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  min-width: 200px;
  flex-basis: 400px;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 3vh;
}

.product-card:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  cursor: grab;
}

.product-card img {
  width: 40%;
}

/* Modals */

dialog {
  margin: auto;
  width: 90vw;
  height: fit-content;
  padding: 1rem;
  border: none;
  border-radius: 4px;
}

dialog::-webkit-scrollbar {
  width: 12px;
}

dialog::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

dialog::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

dialog::backdrop {
  background: #64a5f5;
  opacity: 30%;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-container img {
  width: 100px;
}

.product-line {
  flex-basis: 50%; /* will need changing to 100% for media queries */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  /* border: 1px solid black; */
}

.product-line img.remove_basket_icon,
img.add_basket_icon {
  width: 25px;
}

.product-line div {
  margin: auto;
}

.product-line div:nth-of-type(1) {
  margin: auto 0;
}

.quantity-counter {
  display: flex;
  align-items: center;
}

.quantity-counter img,
span {
  padding: 0 2px;
}
